.containersss {
width: 80%;
margin: auto;
padding: 40px 0;
}

h2 {
font-weight: 500;
font-size: 22px;
margin-bottom: 20px;
}


.photo-card {
background-color: #34464d;
border-radius: 12px;
padding: 15px;
margin-bottom: 40px;
position: relative;
overflow: hidden;
transition: transform 0.4s ease;
}


.photo-card:hover {
transform: scale(1.02);
}


.photo-card img {
width: 100%;
border-radius: 10px;
display: block;
transition: opacity 0.4s ease;
}


.view-more {
position: absolute;
bottom: 10px;
right: 20px;
font-size: 12px;
opacity: 0;
transition: opacity 0.3s ease;
font-style: italic;
}


.photo-card:hover .view-more {
opacity: 1;
}


/* Hover overlay */
.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.35);
opacity: 0;
transition: opacity 0.4s ease;
border-radius: 12px;
}


.photo-card:hover .overlay {
opacity: 1;
}