
.mid-title{
    color: #ffffff;
    font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
}
.sub-title{
    color: rgba(255, 255, 255, 0.276);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  font-weight: 200;
}
.mini-title{
    color: #C5C4C4;
  font-size: 50px;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;

}
.stat{
    color: #ffffff;
    padding-top: 4%; 
    padding-left: 8%;
    font-size: 36px;
}
.allprojs{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 4%;
}
.threes{
   display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 25%;
}
.titi{
  color: #ffffff;
   font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
.titis{
  color: #C5C4C4;
 font-size: 20px;
}
