.designproc{
    color: white;
    font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 8%;
  padding-top: 5%;
}
.proc{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.wire{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5%;
    flex-direction: row;
    padding-bottom: 5%;
}