.contact-container {
  /* background-color: #404B50; */
  color: #fff;
  padding: 5% 10%;
  border-radius: 10px;
  max-width: 800px;
  margin: 60px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 2px solid #676A6A;
  font-family: "Poppins", sans-serif;
  /* width: 90%; */
}
.containerbox{

    padding-top: 10%;
}
.contact-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-subtitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 0 10px;
}

.contact-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-row input {
  flex: 1;
  padding: 12px 14px;
  background-color: #636B6F;
  border: none;
  border-radius: 4px;
  color: #ddd;
  font-size: 0.9rem;
}

.contact-row input::placeholder {
  color: #888;
}

.requirement-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.req-btn {
  background-color: #636B6F;
  border: none;
  color: #bbb;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.req-btn:hover {
  background-color: #636B6F;
  color: #fff;
}

.req-btn.active {
  background-color: #616cff;
  color: #fff;
}

textarea {
  width: 100%;
  background-color: #636B6F;
  border: none;
  border-radius: 4px;
  color: #ddd;
  padding: 14px;
  margin-top: 20px;
  resize: none;
  font-size: 0.9rem;
}

textarea::placeholder {
  color: #888;
}

.submit-btn {
  background-color: #c0bfbf;
  color: #000;
  border: none;
  border-radius: 4px;
  margin-top: 25px;
  padding: 12px 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #d9d9d9;
}
